{
  "root": true,
  "env": {
    node: true
  },
  "extends": [
    'plugin:vue/essential',
    "standard"
  ],
  "parser": "vue-eslint-parser",
  "plugins": [
    "vue"
  ],
  "parserOptions": {
    "parser": "babel-eslint",
    "sourceType": "module"
  },
  "rules": {
    // allow async-await
    "generator-star-spacing": "off",
    // allow debugger during development
    'space-before-function-paren': 0
  }
}
